@charset 'utf-8';

@font-face {
  font-family: 'NanumGothic'; font-style: normal; font-weight: 400;
  src: url(NanumGothic-Regular.eot);
  src: url(NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(NanumGothic-Regular.woff2) format('woff2'),
       url(NanumGothic-Regular.woff) format('woff'),
       url(NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic-Bold'; font-style: normal; font-weight: 600;
  src: url(NanumGothic-Bold.eot);
  src: url(NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(NanumGothic-Bold.woff2) format('woff2'),
       url(NanumGothic-Bold.woff) format('woff'),
       url(NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'FuturaStd-Bold'; font-style: normal; font-weight: 600;
  src: url('futura_std_bold.eot');
  src: url('futura_std_bold.eot?#iefix') format('embedded-opentype'),
       url('futuraStd-Bold.otf');
       url('futuraStd-Bold.ttf') format('truetype');
}

/****************** Common *************************/
body, html { width:100%; height: 100%;text-shadow:none;}
body {
	padding:0;margin:0;	font:normal 12px/1em NanumGothic, Arial, sans-serif; color: #8a8683;line-height:1.3em;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
ol, ul  {list-style: none;} 
img     {vertical-align:middle;border:none;}
table   {border-collapse: collapse; border-spacing: 0;}
label   {display: none;} 
input,select,button{vertical-align:middle;font:normal 12px/1.3em NanumGothic;}
a:link {
	color: #f75268;	text-decoration: none;
	transition:.3s;	-o-transition:.3s;	-ms-transition:.3s;	-moz-transition:.3s;	-webkit-transition:.3s;
}
a:hover {
	color: #e71c37;	text-decoration: none;
	transition:.3s;	-o-transition:.3s;	-ms-transition:.3s;	-moz-transition:.3s;	-webkit-transition:.3s;
}
a:visited {	color: #e71c37;	text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-weight:200;}
select  {
	border:1px solid #c9cdd4;min-width:200px;height:26px;padding:0 0 0 5px;color:#25282a;
	background-color:#eff1f5;
	background-color:-ms-linear-gradient(bottom, #eff1f5 , #fefeff);
	background-color:-webkit-linear-gradient(bottom, #eff1f5 , #fefeff); 
	background-color:-moz-linear-gradient(bottom, #eff1f5 , #fefeff); 
	background-color:linear-gradient(bottom, #eff1f5 , #fefeff);
}
::selection {background: #83b350; color: #fff;}
input[type="text"],textarea{
    padding:5px;border:1px solid #c9cdd4;font:normal 12px/1em NanumGothic, Arial, sans-serif;
}
.color-white {color:#fff;}
.img-negative-box {display:inline-block;}

/****************** Boot css Reset *************************/
.container   {padding-left:0px;padding-right:0px;}
.row         {margin-left:0px;margin-right:0px;}
ul {
	display: block;	list-style-type: none;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0px;} 
}
@media (min-width:992px){ .container{width:980px} }
@media (min-width:1200px){ .container{width:980px} }


/****************** Layout *************************/
header#top-section{
	position:relative; overflow:hidden; margin-top:80px;background: url('../images/main_bg.jpg') center top no-repeat;
	background-size: cover;	max-height:700px; width:100%; min-width:100%;height:100%;z-index:0;  background-attachment: fixed;
}
.inner-top-bg{
	position:absolute;top:0px;left:0px;bottom:0px;display:inline-block;
	width:100%;	min-width:100%;	height:100%; min-height:100%; /** background: rgba(0, 0, 0, 0.3); **/
}
.jumbotron {
	position:relative;background: none;top:50%;margin-top:-260px;left:0px;right:0px;z-index:1;width:100%;height:100%;min-height:100%;
	text-align:center;padding-right:0px;padding-left:0px;
}
.jumbotron p.lead   {position:relative; color:#fff; font-size:120%; max-width:60%;margin-left:auto; margin-right:auto;}


section {position:relative;width:100%;min-width:100%;}
/*section { position:relative;padding-top:50px;padding-bottom:100px;min-height:600px;width:100%;min-width:100%;overflow:hidden;}*/
#containerbox {min-height:100%;height: auto !important;height: 100%;margin: 0 auto -100px;padding-bottom:50px;}
	.push {height:100px;}
footer	{position:relative;background:#252525;padding-top:30px;height:100px;width:100%;min-width:100%;line-height:1.5em;}
#foot-sec .container {max-width:980px;margin:0px auto;}
#foot-sec .col-xs-3  {padding-top:3px;margin-left:0;padding-left:0;}
#foot-sec .col-xs-9  {color:#898989;}


/****************** NAVIGATION STYLES *************************/
.navbar { background-color: #fff;border:0px; height:80px;margin-bottom:0px;} /**box-shadow:0px -3px 0px rgba(50,50,50, 0.25) inset;**/
.navbar-brand{float:left;padding:25px 0 25px 0;font-size:18px;line-height:normal;height:auto;}
.navbar-fixed-top {z-index:1030;}
.navbar .nav > li > a {
	float: none;padding: 0 30px 0 30px;color: #777777;
	text-decoration: none;text-shadow: none;font-size:14px;
	font-weight:bold;text-transform:uppercase;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color: #0b4a6d;text-decoration: none;background-color: none;
	-webkit-box-shadow:  none;
		-moz-box-shadow:   none;
			box-shadow:  none;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #0b4a6d;font-weight:600;background:none;	/*box-shadow:0px -3px 0px rgba(50,50,50, 0.53) inset;*/
}
.navbar-nav{margin:0;padding-top:35px;}
.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:none;}


/****************** Main- Intro section *************************/
.intro-box                 {position:absolute;left:50%;width:980px;margin-left:-490px;height:421px;background:url('../images/main_squarebg.png') no-repeat;background-position:center top;text-align:center;}
.intro-box .img-responsive {margin:60px auto 0;}
.intro-box p.tx  {display:block;padding-top:15px;font-size:18px;color:#fff;}
@media (max-width: 768px){
	.intro-box .img-responsive {width:70%;}
}

#Section-1			  {min-height:500px;padding-top:70px;background: url('../images/sub1_bg.gif') center top repeat-y;background-attachment: fixed;background-size:100% 100%;}
#Section-1 .container {max-width:980px;margin:0px auto;}
#Section-2			  {background:#ffffff;min-height:450px;padding-top:65px;}
#Section-2 .container {max-width:980px;margin:0px auto;}
#Section-3			  {background: url('../images/sub3_bg.gif') center top no-repeat;background-attachment: fixed;background-size:cover;min-height:1400px;}
#Section-3 .container {max-width:940px;margin:0px auto;padding:0px;padding-top:55px;}
#Section-4			  {background:#ffffff;min-height:120px;padding-top:20px;}
#Section-4 .container {max-width:980px;margin:0px auto;}

/****************** Main- Section1 ******************/
#Section-1 .slider h1 {padding-bottom:21px;margin-bottom:22px;background:url('../images/sec1_h1_bg.gif') no-repeat left bottom;font-family:FuturaStd-Bold;font-size:40px;color:#fff;}
#Section-1 .slider p  {padding-bottom:13px;font-size:20px;font-weight:Bold;font-family:Malgun Gothic;color:#fff;}
#Section-1 .slider .subtxt		   {padding-bottom:22px;line-height:1.5em;font-size:13px;font-family:Malgun Gothic;color:#fff;}
#Section-1 .slider a.btn_detail_vw {display:block;text-decoration:underline;color:#ffffff;}
#Section-1 .slider .img-responsive {margin-top:15px;}


/****************** Main- Section2 ******************/
#Section-2 hr{color:transparent;}
#Section-2 .container .col-xs-12 {padding-left:0px;padding-right:0px;}
#Section-2 .container .inbx      {max-width:300px;}
#Section-2 .container .inbx .ico_img   {height:175px;}
#Section-2 .container .inbx .ico_img .img-responsive {margin:0px auto;}
#Section-2 .container .inbx p.text-left      {padding-top:25px;font-size:20px;font-weight:bold;color:#252525;}
#Section-2 .container .inbx p.text-left span {color:#0b4a6d;font-size:13px;font-weight:normal;}
#Section-2 .container .inbx div.text-left    {max-width:275px;padding-top:10px;line-height:1.5em;font-size:13px;color:#898989;}

/****************** Main- Section3 ******************/
#Section-3 .container h1 {padding-bottom:100px;font-family:FuturaStd-Bold;font-size:30px;color:#252525;}
#Section-3 .container h1 img {margin:0px auto;}
#Section-3 .container .col-xs-12    {padding-left:0px;padding-right:0px;} 
#Section-3 .container .hidden-year  {display:none;}
#Section-3 .container .timeline2015_6 {position:relative;width:100%;height:293px;background:url('../images/timeline_bg016.png') no-repeat center top;}
#Section-3 .container .timeline2014 {position:relative;width:100%;height:222px;background:url('../images/timeline_bg014.png') no-repeat center top;}
#Section-3 .container .timeline2013 {position:relative;width:100%;height:293px;background:url('../images/timeline_bg013.png') no-repeat center top;}
#Section-3 .container .timeline2012 {position:relative;width:100%;height:171px;background:url('../images/timeline_bg012.png') no-repeat center top;}
#Section-3 .container .timeline2011 {position:relative;width:100%;height:168px;background:url('../images/timeline_bg011.png') no-repeat -1px top;}
#Section-3 .container #talkbubble   {position:absolute;width:auto;height: auto;border:1px solid transparent;}
#Section-3 #talkbubble .boxtxt {
   width: auto; margin-bottom:12px;height: auto;padding:9px 10px;background: #fff; /**border:1px solid #acacac;**/
   -moz-border-radius: 10px;  -webkit-border-radius: 10px; border-radius: 10px;  line-height:1.35em;font-size:12px;
}
#Section-3 #talkbubble .boxarrow {
   position:Absolute;right:45%; width: 0; height: 0;z-index:999;
}
#Section-3 #talkbubble.time2016 {top:-40px;right:107px;}
#Section-3 #talkbubble.time2016 .boxarrow {left:34%;bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2015_3 {top:-55px;left:250px;}
#Section-3 #talkbubble.time2015_3 .boxarrow {left:34%;bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2015_2 {top:-40px;left:30px;}
#Section-3 #talkbubble.time2015_2 .boxarrow {right:10%;bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2015_1 {top:150px;left:140px;}
#Section-3 #talkbubble.time2015_1 .boxarrow {left:0;top:45%;margin-left:-14px;border-bottom: 14px solid transparent;  border-right: 14px solid #fff;  border-top: 14px solid transparent;}

#Section-3 #talkbubble.time2014_3 {top:75px;left:288px;}
#Section-3 #talkbubble.time2014_3 .boxarrow {top: 0%;margin-top:-13px;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-bottom: 13px solid #fff;}
#Section-3 #talkbubble.time2014_2 {top:-70px;left:420px;}
#Section-3 #talkbubble.time2014_2 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2014_1 {top:75px;left:470px;}
#Section-3 #talkbubble.time2014_1 .boxarrow {top: 0%;margin-top:-13px;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-bottom: 13px solid #fff;}

#Section-3 #talkbubble.time2013_1 {top:140px;left:287px;}
#Section-3 #talkbubble.time2013_1 .boxarrow {top: 0%;margin-top:-13px;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-bottom: 13px solid #fff;}
#Section-3 #talkbubble.time2013_2 {top:17px;left:345px;}
#Section-3 #talkbubble.time2013_2 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2013_3 {top:140px;left:479px;}
#Section-3 #talkbubble.time2013_3 .boxarrow {top: 0%;margin-top:-13px;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-bottom: 13px solid #fff;}
#Section-3 #talkbubble.time2013_4 {top:0;left:550px;}
#Section-3 #talkbubble.time2013_4 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}

#Section-3 #talkbubble.time2012_6 {top:0;left:88px;}
#Section-3 #talkbubble.time2012_6 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2012_4 {top:10px;left:308px;}
#Section-3 #talkbubble.time2012_4 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2012_2 {top:0;left:486px;}
#Section-3 #talkbubble.time2012_2 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}


#Section-3 #talkbubble.time2011_1 {top:55px;left:220px;}
#Section-3 #talkbubble.time2011_1 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2011_2 {top:10px;left:407px;}
#Section-3 #talkbubble.time2011_2 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}
#Section-3 #talkbubble.time2011_3 {top:-8px;left:645px;}
#Section-3 #talkbubble.time2011_3 .boxarrow {bottom: 0%;border-left: 14px solid transparent;  border-right: 14px solid transparent;  border-top: 13px solid #fff;}

/****************** Main- Section4 ******************/
#Section-4 .container h1 {padding-bottom:3px;font-family:FuturaStd-Bold;font-size:18px;color:#363636;margin-left:-15px;}
#Section-4 .container .toggle-bx  {position:relative;border-left:1px solid #cccccc;margin-bottom:20px;}
#Section-4 .container .toggle-bx .toggle_tle   {width:100%;height:20px;margin:0px;padding-top:4px;font-size:13px;font-family:NanumGothic-Bold;color:#363636;}
#Section-4 .container .toggle-bx .toggle_tle a {color:#363636;}
#Section-4 .container .toggle-bx .toggle-bt    {position:absolute;right:0;top:0;width:21px;height:21px;margin-right:20px;background:url('../images/toggle_on.gif') no-repeat;cursor:pointer;}
#Section-4 .container .toggle-bx .toggle-bt.close    {background:url('../images/toggle_off.gif') no-repeat;}
#Section-4 .container .toggle-bx .toggle_tx    {display:none;max-width:205px;min-height:155px;padding-top:20px;font-size:12px;color:#898989;line-height:1.5em;}
#Section-4 .container .toggle-bx .toggle_tx.open {display:block;}   

/****************** Main- @Media ******************/
@media (max-width: 990px){
	#Section-3	{min-height:2100px;height:100%;}
	#Section-3 .container {width:320px;padding-left:15px;padding-right:15px;padding-top:15px;}
	#Section-3 .container h1 {padding-bottom:25px;}
	#Section-3 .container .hidden-year  {position:absolute;top:0;right:0;display:block;width:100px;padding:10px 0;color:#fff;font-size:17px;font-weight:bold;vertical-align:middle;}
	#Section-3 .container .timeline2015_6 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2015_6 .hidden-year {background-color:#1dbcf8;} 
	#Section-3 .container .timeline2015_6 .hidden-year.year15 {top:30%;background-color:#252525;} 
	#Section-3 .container .timeline2014 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2014 .hidden-year {background-color:#252525;} 
	#Section-3 .container .timeline2013 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2013 .hidden-year {background-color:#252525;} 
	#Section-3 .container .timeline2012 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2012 .hidden-year {background-color:#252525;} 
	#Section-3 .container .timeline2011 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2011 .hidden-year {background-color:#252525;} 
	#Section-3 .container #talkbubble   {position:relative;width:220px;height:auto;}
	#Section-3 #talkbubble.time2016,
	#Section-3 #talkbubble.time2015_3,
	#Section-3 #talkbubble.time2015_2,
	#Section-3 #talkbubble.time2015_1,
	#Section-3 #talkbubble.time2014_3,
	#Section-3 #talkbubble.time2014_2,
	#Section-3 #talkbubble.time2014_1,
	#Section-3 #talkbubble.time2013_1, 
	#Section-3 #talkbubble.time2013_2, 
	#Section-3 #talkbubble.time2013_3, 
	#Section-3 #talkbubble.time2013_4, 
	#Section-3 #talkbubble.time2012_6,  
	#Section-3 #talkbubble.time2012_5,  
	#Section-3 #talkbubble.time2012_4,  
	#Section-3 #talkbubble.time2012_3,  
	#Section-3 #talkbubble.time2012_2,  
	#Section-3 #talkbubble.time2012_1,  
	#Section-3 #talkbubble.time2011_3,  
	#Section-3 #talkbubble.time2011_2,  
	#Section-3 #talkbubble.time2011_1 {top:0;left:10px;}
	#Section-3 #talkbubble.time2015_3{margin-top:70px;}
	
	#Section-3 #talkbubble.time2016 .boxarrow,
	#Section-3 #talkbubble.time2015_3 .boxarrow,
	#Section-3 #talkbubble.time2015_2 .boxarrow,
	#Section-3 #talkbubble.time2015_1 .boxarrow {left:217px;top:25%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-3 #talkbubble.time2015_1 .boxarrow {border-right:0px;margin-left:0px;}
	#Section-3 #talkbubble.time2014_3 .boxarrow,
	#Section-3 #talkbubble.time2014_2 .boxarrow,
	#Section-3 #talkbubble.time2014_1 .boxarrow {right:0;top:25%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-3 #talkbubble.time2013_1 .boxarrow,
	#Section-3 #talkbubble.time2013_2 .boxarrow,
	#Section-3 #talkbubble.time2013_3 .boxarrow,
	#Section-3 #talkbubble.time2013_4 .boxarrow  {right:0;top:25%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-3 #talkbubble.time2012_6 .boxarrow,
	#Section-3 #talkbubble.time2012_4 .boxarrow,
	#Section-3 #talkbubble.time2012_2 .boxarrow  {right:0;top:15%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-3 #talkbubble.time2011_3 .boxarrow,
	#Section-3 #talkbubble.time2011_2 .boxarrow,
	#Section-3 #talkbubble.time2011_1 .boxarrow  {right:0;top:15%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-4 .container .toggle-bx .toggle_tx    {width:100%;}
}
@media (max-width: 979px){
	.navbar-fixed-top    {margin-bottom: 0px;}
	.navbar-fixed-top, 
	.navbar-fixed-bottom {position: fixed;}
	.navbar .container {width: auto;padding: 0px 20px;}
	.navbar .brand     {padding-right: 10px;padding-left: 10px;margin: 0 0 0 15px;}
	.container {padding:0px 20px;}
	.jumbotron {padding:0px;}
	.jumbotron h1 {color: #fff;padding-top: 150px;font-size:40px;}
	footer .page-header h3{padding-top:100px !important;}
}
@media (max-width: 768px){
	.push {display:none;}
	.navbar-nav{margin:0;padding-top:35px;padding-bottom:15px;}
	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
			margin-right: 0px;
			margin-left: 0px;
	}
	#topnav .container {padding:0;}
	#topnav .container .navbar-header .navbar-brand {margin-left:15px;}


	.jumbotron {top:25%;margin-top:0px;}
	header#top-section{height:100%;background: url('../images/main_bg.jpg') 50% 0% no-repeat;background-size:cover;background-attachment: fixed;}
	header#top-section .intro-box  {left:0;top:50%;margin-left:0px;width:100%;background-size:100%;}
	header#top-section .intro-box .tx {font-size:13px;}
	#Section-1{	min-height:290px;background: url('../images/sub1_bg.gif') 50% 0% fixed repeat;background-size:auto 100%;padding-top:20px;padding-bottom:10px;}
	#Section-1 .container .col-xs-12 {padding-left:0px;padding-right:0px;}
	#Section-2{ background: url(../images/sub2_bg.gif) 50% 0% fixed repeat;background-size:auto 100%;padding-top:25px;padding-bottom:30px;}	
	#Section-2 .container .col-xs-12 {padding-left:0px;padding-right:0px;}
	#Section-2 .container .inbx      {width:100%;margin:0px auto;}
	#Section-2 .container .inbx p.text-left {text-align:center;font-size:17px;}
	#Section-2 .container .inbx div.text-left    {width:92%;padding-left:10px;}
	#Section-4{ padding-top:10px;padding-bottom:20px;}	
	footer	{height:auto;padding-bottom:15px;}
	footer	.col-xs-9 {width:100%;padding-top:10px;}
	
	#Section-3	{min-height:2100px;height:100%;}
	#Section-3 .container {width:320px;padding-left:15px;padding-right:15px;padding-top:15px;}
	#Section-3 .container h1 {padding-bottom:25px;}
	#Section-3 .container .hidden-year  {position:absolute;top:0;right:0;display:block;width:100px;padding:10px 0;color:#fff;font-size:17px;font-weight:bold;vertical-align:middle;}
	#Section-3 .container .timeline2014 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2014 .hidden-year {background-color:#1dbcf8;} 
	#Section-3 .container .timeline2013 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2013 .hidden-year {background-color:#252525;} 
	#Section-3 .container .timeline2012 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2012 .hidden-year {background-color:#252525;} 
	#Section-3 .container .timeline2011 {position:relative;height:auto;background:none;padding-top:50px;padding-bottom:20px;background:url('../images/mobile_timeline_bg.gif') repeat-y 88% top;}
	#Section-3 .container .timeline2011 .hidden-year {background-color:#252525;} 
	#Section-3 .container #talkbubble   {position:relative;width:220px;height:auto;}
	#Section-3 #talkbubble.time2014_3,
	#Section-3 #talkbubble.time2014_2,
	#Section-3 #talkbubble.time2014_1,
	#Section-3 #talkbubble.time2013_1, 
	#Section-3 #talkbubble.time2013_2, 
	#Section-3 #talkbubble.time2013_3, 
	#Section-3 #talkbubble.time2013_4, 
	#Section-3 #talkbubble.time2012_6,  
	#Section-3 #talkbubble.time2012_5,  
	#Section-3 #talkbubble.time2012_4,  
	#Section-3 #talkbubble.time2012_3,  
	#Section-3 #talkbubble.time2012_2,  
	#Section-3 #talkbubble.time2012_1,  
	#Section-3 #talkbubble.time2011_3,  
	#Section-3 #talkbubble.time2011_2,  
	#Section-3 #talkbubble.time2011_1 {top:0;left:10px;}

	#Section-3 #talkbubble.time2014_3 .boxarrow,
	#Section-3 #talkbubble.time2014_2 .boxarrow,
	#Section-3 #talkbubble.time2014_1 .boxarrow {right:0;top:25%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-3 #talkbubble.time2013_1 .boxarrow,
	#Section-3 #talkbubble.time2013_2 .boxarrow,
	#Section-3 #talkbubble.time2013_3 .boxarrow,
	#Section-3 #talkbubble.time2013_4 .boxarrow  {right:0;top:25%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-3 #talkbubble.time2012_6 .boxarrow,
	#Section-3 #talkbubble.time2012_4 .boxarrow,
	#Section-3 #talkbubble.time2012_2 .boxarrow {right:0;top:15%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;}
	#Section-3 #talkbubble.time2011_3 .boxarrow,
	#Section-3 #talkbubble.time2011_2 .boxarrow,
	#Section-3 #talkbubble.time2011_1 .boxarrow {right:0;top:15%;margin-top:0px;margin-right:-22px;border-top: 12px solid transparent;  border-bottom: 12px solid transparent;  border-left: 11px solid #fff;} 
	#Section-4 .container .toggle-bx .toggle_tx    {width:100%;}

	#foot-sec .col-xs-9  {padding-left:0;}
}
@media (max-width: 360px){
	.navbar-nav{margin:0;padding-top:0px;padding-bottom:25px;}
	.navbar-nav li {padding:10px 0px 10px 0px;}
}


/****************** 
///////////////////Bottom - Sub ******************/

.col-wd-5  {float:left;width:20%;}

header#sub-section{
	position:relative; margin-top:80px; background: url('../images/sub1_visu.jpg') center 0% no-repeat;
	background-size: cover;	height:318px; width:100%; min-width:100%;z-index:0;
}
header#sub-section  .container h1 img {margin:0px auto;}
header#sub-section.sub-top2 {background: url('../images/sub2_visu.jpg') center 0% no-repeat;}
header#sub-section.sub-top3 {background: url('../images/sub3_visu.jpg') center 0% no-repeat;}
#sub-section   .container {max-width:980px;margin:0px auto;}
#sub-section   .container h1 {margin-top:115px;padding-bottom:5px;}
#sub-section   .container h1.others {margin-top:110px;}
#sub-section   .container p  {font-size:18px;}
#sub-section   .container .hid-br {display:none;}

#sub1-section1{margin-bottom:150px}
#sub1-section1 .container {max-width:980px;margin:0px auto;padding-top:45px;padding-bottom:0px;} 
#sub1-section1 .container .col-sm-12,
#sub1-section1 .container .col-lg-12 {padding-left:0;padding-right:0;}
#sub1-section2,
#sub1-section2-2,
#sub1-section2-3,
#sub1-section2-4,
#sub1-section2-5   {display:none;background:#e5e5dd url('../images/sub1-section2-bg.gif') repeat-x left top;margin-top:0px;}
#sub1-section2 .container,
#sub1-section2-2 .container,
#sub1-section2-3 .container,
#sub1-section2-4 .container,
#sub1-section2-5 .container {max-width:980px;margin:0px auto;} 

#sub2-section1 .container {max-width:980px;margin:0px auto;padding-top:45px;padding-bottom:50px;} 
#sub2-section1 .container .col-xs-12,
#sub2-section1 .container .col-sm-12,
#sub2-section1 .container .col-sm-6,
#sub2-section1 .container .col-sm-3 {padding-left:0;padding-right:0;}
#sub3-section1 .container {max-width:980px;margin:0px auto;padding-top:45px;padding-bottom:50px;} 
#sub3-section1 .container .col-sm-12 {padding-left:0;margin-top:20px}
#send-message  {background:#555555;padding:45px 0 40px 0;margin-bottom:50px;}
#send-message .container  {max-width:980px;margin:0px auto;}


/****************** Sub1- Section1 ******************/
#sub1-section1 .container h1       {margin-top:0px;margin-bottom:0px;padding-bottom:30px;font-family:FuturaStd-Bold;color:#111111;font-size:40px;padding-left:0px;}
#sub1-section1 .container .col-wd-5      {padding:5px 0;border-left:1px solid #e1e1e1;}
#sub1-section1 .container .col-last      {border-right:1px solid #e1e1e1;}
#sub1-section1 .container .col-wd-5 span {display:block;}
#sub1-section1 .container .col-wd-5 p    {font-size:16px;color:#898989;}
#sub1-section1 .col-sm-12   {padding-left:0px;padding-right:0px;}
#sub1-section1 .container h2 {padding-bottom:20px;font-family:Malgun Gothic;font-size:26px;color:#373b44;font-weight:bold;}
#sub1-section1 .container p.s-txt  {padding-bottom:15px;font-size:13px;line-height:1.5em;}
#sub1-section1 #tabMenu ul>li>a  {cursor:pointer;}
#sub1-section1 #tabMenu li .hid {display:none;}
#sub1-section1 ul.item-ul {width:100%;}
#sub1-section1 ul.item-ul li {position:relative;float:left;width:253px;height:205px;background:url('../images/work1-item-bg.gif') no-repeat left top;cursor:pointer;}
#sub1-section1 ul.item-ul li.col-sm-4 {padding-left:0px;}
#sub1-section1 ul.item-ul li.col-last {width:219px;border:0;}
#sub1-section1 ul.item-ul li p.item-ti {position:absolute;bottom:0;font-family:NanumGothic-Bold;font-size:13px;line-height:1.5em;color:#000000;}
#sub1-section1 ul.item-ul li p.item-ti:hover {text-decoration:underline;color:#0b4a6d;}
#sub1-section1 ul.item-ul li p.item-ti span {display:block;}
#sub1-section1 .item-ul .zumping {}

@media (max-width: 768px){
	#sub-section   .container .hid-br {display:block;}
	#sub-section   .container h1 {margin-top:130px;font-family:FuturaStd-Bold;font-size:32px;}
	#sub-section   .container p  {width:63%;margin:0px auto;font-size:16px;line-height:1.5em;}

	#sub1-section1 .container h1 {padding-bottom:0px;}
	#sub1-section1 #tabMenu li {clear:both;width:100%;height:auto;padding:7px 0;border-bottom:1px solid #e1e1e1;border-left:10px;text-align:left;}
	#sub1-section1 #tabMenu li.col-last {border-right:0;}
	#sub1-section1 #tabMenu li img {display:none;}
	#sub1-section1 #tabMenu li a .hid {display:block;font-size:17px;color:#000;}
	#sub1-section1 #tabSubMenu ul.item-ul     {width:100%;margin:0px auto;overflow:hidden;}
	#sub1-section1 #tabSubMenu ul.item-ul li  {float:left;width:33.3%;background-position:center top;text-align:left;}
	#sub1-section1 #tabSubMenu ul.item-ul li img {margin-left:-5px;}
	#sub1-section1 ul.item-ul li p.item-ti {left:10px;}
	#sub1-section1 #tabSubMenu ul.item-ul li .text-left {text-align:left;}
	#send-message .container  {padding-bottom:30px;}
}

@media (max-width: 360px){
	#sub-section   .container h1 {margin-top:130px;}
	#sub1-section1 #tabSubMenu ul.item-ul li  {clear:both;width:100%;background-position:center top;text-align:center;}
	#sub1-section1 #tabSubMenu ul.item-ul li img {padding:0;margin:0;margin-left:12px;}
	#sub1-section1 ul.item-ul li p.item-ti {position:relative;left:0;}
	#sub1-section1 #tabSubMenu ul.item-ul li .text-left {text-align:center;}
}

.sub-portfolio{margin-bottom:150px}
.sub-portfolio .itembox {position:relative;padding:110px 0px 0px 0px;overflow:hidden;}
.sub-portfolio .itembox .carousel-close {position:absolute;top:0;right:0;margin:70px 20px 0 0;cursor:pointer;}
.sub-portfolio .itembox .boxarrow {position:Absolute; width: 0; left:0; height: 0;z-index:999;top: 0;border-left: 42px solid transparent;  border-right: 42px solid transparent;  border-bottom: 39px solid #e5e5dd;}
.sub-portfolio .itembox .boxarrow.fst {left:7.3%;}
#sub1-portfolio1 .itembox .boxarrow.fst {left:33%;}
#sub1-portfolio2 .itembox .boxarrow.fst {left:58%;}
#sub1-portfolio3 .itembox .boxarrow.fst {left:84%;}
#sub1-portfolio4 .itembox .boxarrow.fst {left:7.3%;}
#sub4-portfolio2 .itembox .boxarrow.fst {left:33%;}
	
	.sub-portfolio .itembox .img-negative-box {padding-left:0px;}
	.sub-portfolio .itembox .item-desc        {padding-right:0px;padding-top:20px;}
	.sub-portfolio .itembox p.ti      {padding-bottom:20px;font-family:Malgun Gothic;font-weight:bold;font-size:16px;color:#111111;} 
	.sub-portfolio .itembox p.ti span {font-weight:normal;}
	.sub-portfolio .itembox .subtxt	 {padding-bottom:22px;line-height:1.5em;font-size:13px;font-family:Malgun Gothic;}

@media (max-width: 768px){
	/**.sub-portfolio {position:absolute;z-index:999;margin-top:-785px;}
	#sub1-section1 .item-ul .zumping {margin-top:550px;}**/
}
@media (max-width: 360px){
	#sub1-section2,
	#sub1-section2-2,
	#sub1-section2-3,
	#sub1-section2-4,
	#sub1-section2-5  {position:absolute;top:20%;z-index:999;background:none;background:#e5e5dd;}
	#sub1-section2 {margin-top:990px;}
	.sub-portfolio .itembox {position:relative;padding:50px 0px 0px 0px}
	.sub-portfolio .itembox .carousel-close {margin:10px 20px 0 0;}
	.sub-portfolio .itembox .boxarrow	 {display:none;}
	.sub-portfolio .itembox .item-desc   {padding-top:0px;}
}


/****************** Sub- Send Message ******************/
#send-message .info-txt   {font-size:13px;margin-bottom:25px;}
#send-message .container .input-prepend input.span6 {width:95%;height:38px;padding-left:20px;background-color:#707070;color:#fff;border-color:#464646;}
#send-message .container textarea.span6 {width:100%;height:182px;padding:10px 20px;background-color:#707070;color:#fff;border-color:#464646;}
#send-message .container .input-prepend  {margin-bottom:10px;}
#send-message .container .btn {padding:15px 25px;font-size:16px;margin-top:20px;}
#send-message .container .btn-primary{color:#fff;background-color:#252525;border:none;}


/****************** Sub2- Section1(Career) ******************/
#sub2-section1 .container h1       {margin-top:0px;margin-bottom:0px;padding-bottom:30px;font-family:FuturaStd-Bold;color:#111111;font-size:40px;padding-left:0px;}
#sub2-section1 .container h2 {padding-bottom:20px;font-family:Malgun Gothic;font-size:26px;color:#373b44;font-weight:bold;}
#sub2-section1 .container p.s-txt  {padding-bottom:15px;font-size:13px;line-height:1.5em;}
#sub2-section1 .container .img-chart {margin:25px auto 45px auto;}
#sub2-section1 .container .chart-info    {margin-bottom:50px;overflow:hidden;}
#sub2-section1 .container .chart-info li {padding-left:15px;border-left:1px solid #c2c2c2;}
#sub2-section1 .container .chart-info p.ti {font-size:16px;color:#111111;font-family:Malgun Gothic;font-weight:bold;}
#sub2-section1 .container .well-list {margin-bottom:40px;}
#sub2-section1 .container .well-list span.ico {display:inline-block;width:80px;height:80px;margin-right:20px;}
#sub2-section1 .container .well-list span.lst1-ico {background:url('../images/career_ico1.gif') no-repeat left top;}
#sub2-section1 .container .well-list span.lst2-ico {background:url('../images/career_ico2.gif') no-repeat left top;}
#sub2-section1 .container .well-list span.lst3-ico {background:url('../images/career_ico3.gif') no-repeat left top;}
#sub2-section1 .container .well-list span.lst4-ico {background:url('../images/career_ico4.gif') no-repeat left top;}
#sub2-section1 .container .well-list span.lst5-ico {background:url('../images/career_ico5.gif') no-repeat left top;}
#sub2-section1 .container .well-list span.lst6-ico {background:url('../images/career_ico6.gif') no-repeat left top;}
#sub2-section1 .container .well-list span.lst7-ico {background:url('../images/career_ico7.gif') no-repeat left top;}
#sub2-section1 .container .well-list p.lst-txt   {display:inline-block;width:365px;font-size:16px;font-family:Malgun Gothic;font-weight:bold;color:#373b44;vertical-align:top;}
#sub2-section1 .container .well-list p.lst-txt span {display:block;padding-top:13px;font-weight:normal;font-size:13px;line-height:1.7em;color:#898989;}
#sub2-section1 .container .well-etc {border-top:1px solid #e1e1e1;padding-top:30px;}
#sub2-section1 .container .well-etc h3 {font-family:Malgun Gothic;font-weight:bold;font-size:16px;color:#373b44;}
#sub2-section1 .container .well-etc li {padding-left:13px;padding-bottom:10px;background:url('../images/dot-green.gif') no-repeat left 5px;}

@media (max-width: 768px){
	#sub2-section1 .container .chart-info li {margin-bottom:10px;}
	#sub2-section1 .container .well-list  {text-align:center;}
	#sub2-section1 .container .well-list span.ico {display:block;width:100%;}
	#sub2-section1 .container .well-list p.lst-txt {display:block;width:90%;}
	#sub2-section1 .container .well-list span.ico  {margin-bottom:10px;}
	#sub2-section1 .container .well-list span.lst1-ico, 
	#sub2-section1 .container .well-list span.lst2-ico, 
	#sub2-section1 .container .well-list span.lst3-ico, 
	#sub2-section1 .container .well-list span.lst4-ico, 
	#sub2-section1 .container .well-list span.lst5-ico, 
	#sub2-section1 .container .well-list span.lst6-ico, 
	#sub2-section1 .container .well-list span.lst7-ico {background-position:center top;}
}
@media (max-width: 360px){
	#sub2-section1 .container .well-list p.lst-txt {display:block;width:100%;}
}


/****************** Sub3- Section1(Contact Us Map) ******************/
#sub3-section1 .container h1       {margin-top:0px;margin-bottom:0px;padding-bottom:30px;font-family:FuturaStd-Bold;color:#111111;font-size:40px;padding-left:0px;}
#sub3-section1 .container .contact-selector .col-wd-5      {padding:5px 0;border-left:1px solid #e1e1e1;}
#sub3-section1 .container .contact-selector .col-last      {border-right:1px solid #e1e1e1;}
#sub3-section1 .container .contact-selector .hid {display:none;}
#sub3-section1 #tabMenu ul>li>a  {cursor:pointer;}
#sub3-section1 .container h2 {padding-bottom:20px;font-family:Malgun Gothic;font-size:26px;color:#373b44;font-weight:bold;}
#sub3-section1 .container .map-selector {width:980px;overflow:hidden;margin:10px auto 0 auto;}
#sub3-section1 .container .map-selector .col-wd-5   {width:19.32%;margin-right:8px;}
#sub3-section1 .container .map-selector .col-wd-5.col-last {margin-right:0px;}
#sub3-section1 .container .map-selector li.active {border-color:#0b4a6d;}
#sub3-section1 .container .addrs-txt p   {font-size:13px;margin-bottom:3px;}
#sub3-section1 .container .addrs-txt .bd {color:#111111;}

#sub3-section1 .searchbox {width:100%;background:#f6f6f6;padding:22px 30px 18px 30px;border:1px solid #c2c2c2;overflow:hidden;}
#sub3-section1 .searchbox .select-group {position: relative;float:left;margin-right:10px;}
#sub3-section1 .searchbox .select-group select {min-width:120px;}
#sub3-section1 .searchbox .select-group .input-sm {border-radius:0px;background-color:#fff;}
#sub3-section1 .searchbox .input-group {float:left;max-width:420px;}
#sub3-section1 .searchbox .input-group .form-control{max-width:420px;height:30px;border-radius:0px;background-color:#fff;}
#sub3-section1 .searchbox .input-group-btn>.btn {background-color:#0b4a6d;color:#fff;border-radius:0px;padding: 4px 20px;border-color:#0b4a6d;}
#sub3-section1 .searchbox .check-group {float:left;margin-left:30px;}
#sub3-section1 .searchbox .check-group span.t {font-weight:bold;color:#000000;font-size:14px;margin-right:10px;}
#sub3-section1 .searchbox .check-group .btn {border-radius:0px;padding: 5px 30px;margin-left:10px;} 
#sub3-section1 .searchbox .check-group .btn-primary {color: #fff;background-color: #898989;border-color: #898989;}
#sub3-section1 .news-board {margin-top:35px;}
.news-board .table {width:100%;}
.news-board .table>tbody>tr>th,
.news-board .table>tbody>tr>td {padding:15px;line-height:1.42857143;vertical-align:top;border-bottom:1px solid #ddd}
.news-board .table .thum-td {width:22%;}

.news-board .table>tbody>tr.success    {border:1px solid #0b4a6d;}
.news-board .table>tbody>tr.success>td, 
.news-board .table>tbody>tr.success>th {background-color:#f6f6f6;border-bottom:1px solid #0b4a6d;border-top:1px solid #0b4a6d;}
.news-board .thum-box {display:block;width:180px;height:120px;background:url('../images/board-thum-bg.gif') no-repeat;}
.news-board .gubun {display:block;padding-bottom:3px;color:#0b4a6d;font-size:18px;font-family:NanumGothic-Bold;}
.news-board .ti    {margin-bottom:5px;color:#000000;font-size:18px;font-family:NanumGothic;}
.news-board .ti a  {color:#000000;}
.news-board .tx    {font-size:13px;color:#898989;}
.news-board .tx .date {display:block;padding-bottom:2px;}
.news-over-view {padding:14px 0 11px 0;border:1px solid #c2c2c2;background-color:#f6f6f6;}
.news-over-view a {font-size:16px;font-family:NanumGothic-Bold;color:#363636;}


#sub3-section1 .news-board .table-condensed {border-top:1px solid #c2c2c2;}
#sub3-section1 .news-board .table-condensed>thead>tr>th {padding:20px;border-bottom:1px solid #c2c2c2;}
#sub3-section1 .news-board .table-condensed>tbody>tr>td {border-bottom:1px solid #c2c2c2;}

.news-board .table-condensed {margin-top:-35px;}
.news-board .table-condensed .gubun {display:inline-block;}
.news-board .table-condensed .ti  {display:inline-block;}
.news-board .table-condensed .etc {padding-top:5px;font-weight:normal;font-size:13px;}
.news-board .table-condensed .etc .date-time {color:#111111;}
.news-board .table-condensed .view-cont     {padding:20px 20px 30px 20px;line-height:1.8em;}
.news-board .table-condensed .view-cont img {display:block;margin:10px 0px;}
.news-board .view-table-bottom {position:relative;}
.news-board .view-table-bottom .sns-link {position:absolute;right:0;}
.news-board .view-table-bottom .btn-bottom {position:relative;width:100%;padding-top:50px;text-align:center;}
.news-board .view-table-bottom .btn-bottom .in-btn {position:absolute;right:0;}


@media (max-width: 768px){
	#sub3-section1 .col-sm-12 {padding-right:0px;}
	#sub3-section1 .container {margin-bottom:30px;}
	#sub3-section1 .container .contact-selector {width:100%;margin:0px auto;}
	#sub3-section1 .container .contact-selector img {display:none;}
	#sub3-section1 .container .contact-selector .hid {display:block;}
	#sub3-section1 .container .contact-selector a .hid {font-size:17px;color:#000;}
	#sub3-section1 .container .contact-selector .col-wd-5 {clear:both;width:100%;border:none;border-bottom:1px solid #e1e1e1;}
	#sub3-section1 .container .map-selector {width:100%;margin-left:5px;}
	#sub3-section1 .container .map-selector .col-wd-5 {float:left;width:20%;margin:0px auto 5px auto;}
	#sub3-section1 .container .map-selector .col-wd-5 img {width:93%;}

	
	.news-board .table .thum-td  {display:none;}
	#sub3-section1 .searchbox {padding:10px;height:125px;}
	#sub3-section1 .searchbox .select-group,
	#sub3-section1 .searchbox .input-group,
	#sub3-section1 .searchbox .check-group  {display:block;clear:both;margin-left:0px;}
	#sub3-section1 .searchbox .select-group {margin-bottom:5px;}
	#sub3-section1 .searchbox .input-group .form-control{width:65%;}
	#sub3-section1 .searchbox .check-group  {margin-top:5px;}
	#sub3-section1 .searchbox .check-group .btn {padding:5px 10px;margin-left:0;}
}
@media (max-width: 360px){
	#sub3-section1 .container .map-selector .col-sm-3 {clear:both;width:100%;margin:0px auto 8px auto;}
	#sub3-section1 .container .map-selector .col-sm-3 img {width:auto;}
}
