@charset "utf-8";

a.graybtn {
	background-color:#898989;display:inline-block;font-family:arial;font-size:11px;font-weight:bold;padding:1px 15px;
	text-decoration:none;color:#fff;vertical-align:middle;cursor:default;
}
a.graybtn:hover {
	background-color:#898989;color:#ffffff;
}
a.graybtn:active {
	color:#ffffff;position:relative;top:1px;
}

.wraper a.blkbtn {
	background-color:#252525;display:inline-block;font-family:arial;font-size:11px;font-weight:bold;padding:1px 15px;
	text-decoration:none;color:#fff;vertical-align:middle;cursor:default;
}
.wraper a.blkbtn:hover {
	background-color:#252525;color:#ffffff;
}
.wraper a.blkbtn:active {
	color:#ffffff;position:relative;top:1px;
}

.wraper a.graybtn {
	background-color:#898989;display:inline-block;font-family:arial;font-size:11px;font-weight:bold;padding:1px 15px;
	text-decoration:none;color:#fff;vertical-align:middle;cursor:default;
}
.wraper a.graybtn:hover {
	background-color:#898989;color:#ffffff;
}
.wraper a.graybtn:active {
	color:#ffffff;position:relative;top:1px;
}


/***  popup wrap : s  ***/
.popwrap a.blkbtn {
	background-color:#252525;display:inline-block;font-family:arial;font-size:11px;font-weight:bold;padding:1px 15px;
	text-decoration:none;color:#fff;vertical-align:middle;
}
.popwrap a.blkbtn:hover {
	background-color:#252525;color:#ffffff;
}
.popwrap a.blkbtn:active {
	color:#ffffff;position:relative;top:1px;
}
.popwrap a.graybtn {
	background-color:#898989;display:inline-block;font-family:arial;font-size:11px;font-weight:bold;padding:1px 15px;
	text-decoration:none;color:#fff;vertical-align:middle;
}
.popwrap a.graybtn:hover {
	background-color:#898989;color:#ffffff;
}
.popwrap a.graybtn:active {
	color:#ffffff;position:relative;top:1px;
}

